<!DOCTYPE html>
<html>
<head>
    <title>Login - Guardian Digital</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleInicio.css')}}"/>
</head>

<body>

    <div class="login-card">
        <h3 class="login-title">Guardian Digital</h3>

        <form action="/login" method="POST">
            
            <div class="form-group">
                <label>Usuario</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                    <input type="text" name="username" class="form-control" placeholder="Ingrese su usuario" required>
                </div>
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-white">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-login">
                Iniciar Sesión
            </button>

        </form>
    </div>

</body>
</html>